
*{box-sizing: border-box;}

/*------ Hide controls in mobile devices -------*/

*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

/*---------------------------------------*/


body {
	margin: 0;
	background: #fff;
	color: #666;
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
	font-size: 12pt;
	line-height: 1.25;
	text-align: center;
	overflow-x: hidden;
}

body #main {
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

a {
    color: #FF872E;
}

a:hover {
	color: #FF872E;	
}

input {
    width: 100%;
    font-size: 20px;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid lightgray;
}

::placeholder {
	color: lightgrey;
}

i.fas {
	color: #112d50;
	display: inline-block;
	border-radius: 90px;
	padding: 0.5em;
	border-style: solid;
	border-width: 2px;

}

b {
	font-weight: 700 !important;
} 

a.contact-link {
	color: #666;
}

/* MODAL STARTS */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-header {
    padding: 2px 16px;
    background-color: #112d50;
    color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #112d50;
    color: white;
}

/* Modal Content */
/* Modal Content/Box */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 0;
    border: 1px solid #888;
    width: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* END OF MODAL*/

.container {
	max-width: 1220px;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: auto;
	text-align: center;
}

.bg-dark-60:before {
  position: absolute;
  background: rgba(34, 34, 34, 0.8);
  content: " ";
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

/* -------- Navbar ------- */
.navbar {
	z-index: 10;
	padding-left: 10%;
	padding-right: 10%;
}

.navbar-brand .mobile {
	display: none;
}

.navbar-custom {
	background-color: #fff !important;
	border: 0;
	border-radius: 0;
	z-index: 1000;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	transition: background, padding 0.4s ease-in-out 0s;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eaeaea;
}

.navbar-transparent {
  background: transparent;
  border-bottom: 1px solid transparent;
}

.navbar-transparent .navbar-nav .nav-item .nav-link {
    color: rgba(255,255,255,0.7);
    font-weight: 300;
}

.navbar-custom .navbar-nav .nav-item .nav-link {
    color: rgba(0,0,0,.5) !important;
    /*color: #4b4b4b !important;*/
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
    display:none
}

/* End of Navbar */

/* ------ Homepage Header and Video ------- */
.video-header {
	height: 90vh;
	display: flex;
	align-items: center;
	color: white;
}

.fullscreen-video-wrap {
	position: absolute;
	top: 0;
	left: 0;
	height: 90vh;
	width: 100%;
	overflow: hidden;
}

.fullscreen-video-wrap video {
	min-width: 100%;
	min-height: 100%;
	width: 100vw;
	object-fit: cover;
}

.header-overlay {
	height: 90vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	opacity: 1;
	z-index: 1;
}

.header-caption {
	position: relative;
    display: table;
    height: 100%;
    margin: 0 auto;
    margin-left: 10%;
    width: 40%;
    padding-top: 6em;
}

.header-content {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
}

.header-title {
	font-weight: 300;
  	font-size: 72px;
  	color: #d7d7d7;/*#112d50;*/
}

.header-title-blue {
	font-weight: 300;
  	font-size: 56px;
  	color: #112d50;/*#112d50;*/
}

.header-subtitle {
	font-size: 26px;
	font-weight: 300;
  	color: #d7d7d7;
}
/* ------ End of Homepage Video Header ------- */
.alt-features-item {
  position: relative;
  padding-left: 55px;
}

.alt-features-item hr {
	margin-left: 0;
	width: 25%;
	left: 50%;
	border-top: 2px solid #337d49;
}

.alt-features-item ul {
  list-style: none;
  padding-left: 0;
}

.alt-features-item ul li {
  margin: 20px 0;
}

.alt-features-image {
	padding-left: 80px;
}

/* ------ About Page Header and Video ------- */
.about-video-header {
	height: 85vh;
	display: flex;
	align-items: center;
	color: white;
}

.about-fullscreen-video-wrap {
	position: absolute;
	top: 0;
	left: 0;
	height: 85vh;
	width: 100%;
	overflow: hidden;
}

.about-fullscreen-video-wrap video {
	min-width: 100%;
	min-height: 100%;
	width: 100vw;
	object-fit: cover;
}

.about-fullscreen-video-wrap img {
	min-width: 100%;
	min-height: 100%;
	width: 100vw;
	object-fit: cover;
}

.about-header-overlay {
	height: 85vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	opacity: 1;
	z-index: 1;
}
/* ------ End of About Page Video Header ------- */

/* --- General Content --- */
.module {
  position: relative;
  padding: 140px 0;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.module-medium {
  padding: 75px 0px;
}

.module-small {
  padding: 30px 0;
}

.module-title {
  position: relative;
  text-align: center;
  font-weight: 300;
  font-size: 36px;
  color: #4b4b4b7d; 
}

.module-title-dark {
	color: #4b4b4b;
}

.module-subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  color: #666;
}

.client-logos img {
	width: 100%;
	filter: grayscale(100%);
	opacity: 0.4;
}

.client-logos img:hover {
	opacity: 1;
}

.parallax-bg {
	background-image: url('../images/grid.jpeg');
  	background-attachment: fixed;
  	background-size: cover;
	overflow: hidden;
}

.carousel-inner .carousel-item {
	padding: 100px 0 !important;
}

.carousel-caption {
	position: relative;
	right: 0;
	left: 0;
	padding-bottom: 0;
}

.carousel-caption h2 {
  text-align: center;
  font-style: normal;
  font-size: 22px;
}

.carousel-caption h3 {
	font-size: 18px;
}

.carousel-caption h4 {
	color: rgba(255, 255, 255, 0.5);
 	font-size: 16px;
}

section.module.team {
	margin: 50px;
}

.team-member {
    margin: auto;
    margin-bottom: 20px;
    height: 100%;
    border: none;
}

.team-member:hover {
  filter: brightness(50%);
  transition: all 0.3s ease-in-out 0s;
}

.team-member-img {
	height: 25vw;
	object-fit: cover;
}

img.team-member-img {
	width: 100%;
}

.team-info {
	padding: 20px;
}

.team-info p {
  font-size: 14px;
  color: #aaa;
}

.news .module-title {
	padding-bottom: 5px
}

.news .container .module-title, .news .container .module-subtitle {
	text-align: left;
}

.post {
  width: 70%;
  margin: auto;
}

.features-item {
  margin: 20px 0;
  text-align: center;
}

.features-item .module-subtitle {
	text-align: center !important;
}

.features-icon {
  line-height: 1.2;
  font-size: 50px;
  color: #337d49;
}

/* --- End Content --- */

/* --- Buttons --- */
.btn {
  border-radius: 3px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 10px;
  font-weight: 300;
}

.btn.btn-circle {
  border-radius: 25px;
  padding: 10px 15px;
}

.btn.btn-g {
  background: #FF872E;
  border-color: #FF872E;
  color: #fff;
}

.btn.btn-g:hover,
.btn.btn-g:focus {
  background: #FF872E;
  color: #fff;
}

.btn-border-g {
  background: transparent;
  border: 1px solid #FF872E;
  color: #FF872E;
}

.btn.btn-border-g:hover,
.btn.btn-border-g:focus {
  background: #FF872E;
  color: #fff;
}

/* --- End of buttons --- */

.card {
	max-height: 560px; 
    border: none;
    margin: auto;
    margin-bottom: 20px;
    height: 100%;
    width: 100%;
}

.card-img-top {
	object-fit: cover;
	max-height: 220px;
	height: 100%;
}

.footer p {
  color: #aaa;
}

.footer a {
  color: #aaa;
}

.footer a:hover {
  color: #333;
  text-decoration: none;
}

footer .fab {
    color: #fff;
  	display: inline-block;
	padding: 10px 6px;
	height: 36px;
	width: 36px;
	background-color: #aaa;
	border-radius: 50%;
	margin: 3px;
}

footer .fab:hover {
	background-color: #333;
}

/* --- End Buttons --- */

@media screen and (max-width: 1411px) {
	.header-title {
	  	font-size: 48px;
	}
}

@media screen and (max-width: 998px) {
	/* --- Mobile Navbar --- */

	.navbar-transparent {
	  background-color: #fff;
	  border-bottom: 1px solid #eaeaea;
	}

	.navbar-transparent .navbar-nav .nav-item .nav-link {
	    color: #4b4b4b !important;
	}

	.navbar-brand .mobile {
		display: block !important;
		height: 45px;
	}

	.navbar-brand .desktop {
		display: none !important;
		height: 45px;
	}
	/* --- End Mobile Navbar --- */

	/* --- Homepage Header and Video --- */

	.fullscreen-video-wrap video {
		display: none;
	}

	.fullscreen-video-wrap img {
		height: 100vh;
		width: 100vw;
		object-fit: cover;
	}

	.header-caption {
	  	margin: auto !important;
	  	width: 80%;
	}

	.header-title {
	  	font-size: 32px;
	}
	/* --- End Header and Video --- */

	.nav-tabs {
		background-color: #f8f9fa !important;
	}

	.nav-tabs > li > a.active {
	  	font-weight: bold;
	}

	.carousel-caption h2 {
		font-size: 18px;
	}

	.carousel-caption h3 {
		font-size: 15px;
	}

	.carousel-caption h4 {
		font-size: 14px;
	}	

	.card {
		height: auto;
	}

	img.news-img {
		padding-bottom: 20px;
	}

	.post {
	  width: 100%;
	}
}

@media screen and (max-width: 1199px) {
	.navbar {
		padding-left: 3em;
		padding-right: 3em;
	}

	.team .module-medium {
		padding-bottom: 0 !important;
	}

	.team-member-img {
		height: 50vw !important;
	}
}

/* Vertical margin, padding */
.m-0 {
  margin: 0 !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-40 {
	padding-top: 40px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-30 {
  padding-bottom: 30px !important;
}

.pl-30 {
  padding-left: 30px;
}

.pr-50 {
  padding-right: 50px !important;
}

.pt-100 {
	padding-top: 100px !important;
}

.pb-15 {
	padding-bottom: 15px;
}

.pb-100 {
	padding-bottom: 100px !important;
}

.pb-140 {
  padding-bottom: 140px !important;
}

.pt-15 {
	padding-top: 15px;
}

.pt-140 {
  padding-top: 140px !important;
}

/*-------------*/
/* Tabs */
.tab-content .tab-pane {
	padding: 0px;
}

.tab-content hr {
  margin-left: 0;
  width: 25%;
  border-top: 2px solid #337d49;
}	

.tab-pane a {
  color: #337d49;
  font-weight: 500;
}

.position-relative {
	  position: relative !important;
}

/* Half-image */
.side-image {
	background-image: url("../images/plant.jpeg");
	position: absolute;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.side-image-text {
	background: transparent;
}

.align-left {
	text-align: left !important;
}
.align-center {
	text-align: center !important;
}
.nav-tabs {
	border-bottom: 0;
}

.nav-tabs > li > a {
	color: #777;
	position: relative;
    display: block;
    padding: 10px 15px;
    background-color: transparent;
}

.nav-tabs > li > a:hover {
	border: 1px solid transparent;
  	background-color: #f8f9fa !important;
  	text-decoration: none;
}

.nav-tabs > li > a.active {
	border: 1px solid transparent;
  	background-color: #f8f9fa !important;
}



.font-alt {
	text-transform: uppercase;
}