
*{box-sizing: border-box;}
body {
	margin: 0;
	background: #fff;
	color: #666;
	font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
	font-size: 12pt;
	line-height: 1.25;
	text-align: center;
	overflow-x: hidden;
}

body #main {
	overflow-x: hidden;
}

.container {
	max-width: 960px;
	padding-left: 2rem;
	padding-right: 2rem;
	margin: auto;
	text-align: center;
}


/* ------ Header and Video ------- */
.video-header {
	height: 100vh;
	display: flex;
	align-items: center;
	color: white;
}

.fullscreen-video-wrap {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.fullscreen-video-wrap video {
	min-width: 100%;
	min-height: 100%;
	width: 100vw;
	object-fit: cover;
}

.header-overlay {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	opacity: 1;
	z-index: 1;
}

.header-content {
	z-index: 2;
	margin-top: 20%;
	padding: 0 5rem; 
}

.header-content h1 {
	font-size: 50px;
	margin-bottom: 0;
}

.header-content p {
	font-size: 1.5rem;
	display: block;
	padding-bottom: 2rem;
	margin-top: 10px; 
}
/* ------ End of Header ------- */



/* -------- Navbar ------- */
.navbar {
	z-index: 10;
	padding-left: 1em;
	padding-right: 1em;
}

.navbar-brand .mobile {
	display: none;
}

.navbar-custom {
	background-color: #fff !important;
	border: 0;
	border-radius: 0;
	z-index: 1000;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	transition: background, padding 0.4s ease-in-out 0s;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #eaeaea;
}

.navbar-transparent {
  background: transparent;
  border-bottom: 1px solid transparent;
}

.navbar-transparent .navbar-nav .nav-item .nav-link {
    color: rgba(255,255,255,0.7);
}

.navbar-custom .navbar-nav .nav-item .nav-link {
    color: #4b4b4b !important;
}

/* End of Navbar */


@media screen and (max-width: 768px) {
	/* --- Mobile Navbar --- */
	.navbar-transparent {
	  background-color: #fff;
	  border-bottom: 1px solid #eaeaea;
	}

	.navbar-transparent .navbar-nav .nav-item .nav-link {
	    color: #4b4b4b !important;
	}

	.navbar-brand .mobile {
		display: block !important;
	}

	.navbar-brand .desktop {
		display: none !important;
	}
	/* --- End Mobile Navbar --- */

	/* --- Homepage Header and Video --- */

	.fullscreen-video-wrap video {
		display: none;
	}

	.fullscreen-video-wrap img {
		height: 100vh;
		width: 100vw;
		object-fit: cover;
	}

	.header-content h1{
		font-size: 40px; 
	}

	.header-content p {
		font-size: 1rem;
	}
	/* --- End Header and Video --- */
}

section {
	text-align: center;
	margin-top: 50px;
	font-size: 1.5rem;
}












